.container {
  outline: 1px dashed white;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6em;
}

.navbar {
  outline: 1px dashed white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 6em;

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.links_container {
  outline: 1px dashed white;
  position: absolute;
  left: calc(50% - 15em);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30em;
}
