.outer_section {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #7C7C7C;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8em 0 8em 0;
  width: 85%;
}
